/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.paticka {
  text-align: center;
  font-size: 14px;
  color: silver;
}

.paticka a {
  color: silver;
}

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.kucharka {
  display: flex;
  flex-direction: column;
}
.recept {
  min-height: 90px;
  border: 1px solid white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  color: white;
  padding: 0.5rem;
}

.hlavni-recept {
  min-height: 200px;
  border: 1px solid white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  color: white;
  padding: 0.5rem;
  background-image: linear-gradient(hsla(0 0% 0%/0.3), hsla(0 0% 0%/0.3)),
    url("images/burger.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recept-nazev {
  flex-direction: column-reverse;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: white;
}

.hlavni-recept-nazev {
  flex-direction: column-reverse;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  padding: 0.5rem;
}

.recept-komentare,
.recept-oblast {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5rem;
  color: white;
  margin: 0;
}

.horni-radek {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.sushi {
  background-image: linear-gradient(hsla(0 0% 0%/0.3), hsla(0 0% 0%/0.3)),
    url("images/sushi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rajcata {
  background-image: linear-gradient(hsla(0 0% 0%/0.3), hsla(0 0% 0%/0.3)),
    url("images/rajcata.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kure {
  background-image: linear-gradient(hsla(0 0% 0%/0.3), hsla(0 0% 0%/0.3)),
    url("images/kure.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grilovani {
  background-image: linear-gradient(hsla(0 0% 0%/0.3), hsla(0 0% 0%/0.3)),
    url("images/grilovani.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .hlavni-recept-nazev {
    font-size: 2rem;
  }
  .horni-radek {
    padding: 1.25rem;
  }

  .recept-nazev {
    font-size: 1.5rem;
  }

  .hlavni-recept {
    min-height: 250px;
    flex: 1;
    order: 0;
  }

  .recept {
    min-height: 150px;
    flex: 50%;
  }

  .male-recepty {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 860px) {
  .hlavni-recept-nazev {
    font-size: 3rem;
  }

  .horni-radek {
    padding: 1.25rem;
  }

  .recept-nazev {
    font-size: 1.75rem;
  }

  .hlavni-recept {
    min-height: 400px;
    flex: 1;
  }
  .recept {
    min-height: 200px;
  }
  .male-recepty {
    flex: 1;
  }

  .kucharka {
    flex-direction: row;
  }
}
